{% extends 'analyzer/base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card-box">

            <h2 class="text-center mb-4">
                Student Registration
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-dark w-100">
                    Register
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}